body {
  background: url('highqual.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
	font-family: font-family: 'Helvetica Neue', sans-serif;
	font-size: 75px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	text-align: center;
	margin-top: 15%;
  color: #fff;


}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-align: center;
  font-style: normal;
  font-variant: normal;
  color: #fff;
  padding-right: 5%;
  padding-left: 5%;
}

.Loading {
  -webkit-animation: color-change 1s infinite;
  -moz-animation: color-change 1s infinite;
  -o-animation: color-change 1s infinite;
  -ms-animation: color-change 1s infinite;
  animation: color-change 1s infinite;
}

@-webkit-keyframes color-change {
  0% { color: white; }
  50% { color: lightgrey; }
  100% { color: grey; }
}
@-moz-keyframes color-change {
  0% { color: white; }
  50% { color: lightgrey; }
  100% { color: grey; }
}
@-ms-keyframes color-change {
  0% { color: white; }
  50% { color: lightgrey; }
  100% { color: grey; }
}
@-o-keyframes color-change {
  0% { color: white; }
  50% { color: lightgrey; }
  100% { color: grey; }
}
@keyframes color-change {
  0% { color: white; }
  50% { color: lightgrey; }
  100% { color: grey; }
}

p {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  text-align: center;
  font-style: normal;
  font-variant: normal;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

button {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #1DB954;
  padding: 20px;
  border-radius: 5px;
  border: none;
  transition: all 0.4s ease 0s;
  margin:auto;
  display:block;
  width: 200px;
}

button:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

div.foot {
  background-color:#42b273;
  color:white;
  text-align:center;
  padding:3px;
  position: fixed;
  width: 100%;
  bottom: 0px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div.container {
  text-align:center;
}

div.gifje {
  text-align: center;
}

form-inline {
  text-align: center;
}

input {
  width: 130px;
  height: 20px;
}

/*https://tutorialzine.com/2014/07/css-inline-help-tips*/
.help {
  display: inline-block;
}

.help-tip{
  margin-left: 10px;
  margin-top: 1px;
  float: right;
  text-align: center;
  background-color: #BCDBEA;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 26px;
  cursor: default;
}

.help-tip:before{
  content:'?';
  font-weight: bold;
  color:#fff;
}

.help-tip:hover p{
  display:inline-block;
  transform-origin: 100% 0%;

  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{
  display: none;
  text-align: left;
  background-color: #1E2021;
  padding: 20px;
  width: 300px;
  position: absolute;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: #FFF;
  font-size: 13px;
  line-height: 1.4;
}

.help-tip p:before{
  position: absolute;
  content: '';
  width:0;
  height: 0;
  border:6px solid transparent;
  border-bottom-color:#1E2021;
  right:10px;
  top:-12px;
}

.help-tip p:after{
  width:100%;
  height:40px;
  content:'';
  position: absolute;
  top:-40px;
  left:0px;
}

@-webkit-keyframes fadeIn {
  0% { 
    opacity:0; 
    transform: scale(0.6);
  }

  100% {
    opacity:100%;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:100%; }
}
