<!DOCTYPE html>

<link rel=stylesheet type=text/css href='/../static/wauw.css'>
<!doctype html>
<title>Simple tables</title>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').bind('click', function() {
            $.getJSON('/background_process_test',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>







<html>
  <head>
  </head>
  <body>
    <div class="row">
      <div class="left">
        <div class=page>
          <h1>Playlists</h1>
          {% for table in tables %}
            <h2>{{titles[loop.index]}}</h2>
            {{ table|safe }}
          {% endfor %}
        </div>
      </div>
      //button
      <div class='container'>
          <h3>Test</h3>
              <form>
                  <a href=# id=test><button class='btn btn-default'>Test</button></a>

              </form>
              </div>

      </div>
    </div>
  </body>
</html>
