<!DOCTYPE html>

<link rel=stylesheet type=text/css href='/../static/wauw.css'>
<!doctype html>
<title>Simple tables</title>


<html>
  <head>
  </head>
  <body>
    <div class="row">
      <div class="left">
        <div class=page>
          <h1>Playlists</h1>
          {% for table in tables %}
            <h2>{{titles[loop.index]}}</h2>
            {{ table|safe }}
          {% endfor %}
        </div>
      </div>
      <div class="right">
        <h2>Button</h2>
        <form action="button">
            <button type="submit">Press Button!</button>
        <form>
      </div>
    </div>
  </body>
</html>
