<!DOCTYPE html>
<html>
<link rel=stylesheet type=text/css href='/../static/landingpage.css'>
<title>Application</title>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
    <script type=text/javascript> $(function() { $("#mybutton").click(function (event) { $.getJSON('/SomeFunction', { },
    function(data) { }); return false; }); }); </script>


</head>
<body>



<h1> Spotistore </h1>
<h2>Generating spotify playlists based on the weather, time, amount of people and sound in the store
</h2> <br>


<form action = '/forward/' method="POST">
  <div class='container'>
  <div class="form-inline">
    <div class="form-group">
      <input type="text" name="Username" placeholder='Spotify username'>

      <br>
      <br>
      <input type="text" name="Spotifylink" placeholder='Playlist link'>
      <br>
      <br>
      <input type="text" name="placeWeather" placeholder='Place'>
      <br>
      <br>
      <button name="forwardBtn" type="submit" onclick="$('#loading').show();" >Run Spotistore</button>
      <br>
      <br>
<div id="loading" style="display:none;"><img src="https://media.giphy.com/media/QBd2kLB5qDmysEXre9/giphy.gif" alt="" />Loading!</div>

    </div>
    </div>
    </div>


  </form>
<br>
<br>
<br>
    <form action="/forward/" method="post">

    </form>
  </div>
  <br>
  <br>
  <div class='gifje'>
</div>
</body>
<footer>
<!--
<div class="foot">
<p>Copyright © 2020</p>
https://media.giphy.com/media/tXL4FHPSnVJ0A/giphy-downsized.gif
-->
</div>
-->
</footer>
</html>
