<!DOCTYPE html>
<html>
  <head>
    <link rel=stylesheet type=text/css href='/../static/playlists.css'>

    <title>Playlist</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
    <script type=text/javascript> $(function() { $("#mybutton").click(function (event) { $.getJSON('/SomeFunction', { },
      function(data) { }); return false; }); }); 
    </script>
  </head>
  
  <nav>
    <div class="row">
      <div class="leftTitle">
        <h1>Current Playlist</h1>
      </div>
      <div class="rightTitle">
        <h1> Current Information</h1>
      </div>
    </div>
  </nav>

  <body>
    <div class="row">
      <div class="left">
        <div class=page>
          {% for table in tables %}
          {{ table|safe }}
          {% endfor %}
        </div>
      </div>
      <div class="right">
        <div id="loading" style="display:none;">
          <br>
          <h2 class="Loading">Loading!</h2>
          <br>
          <img src="https://media.giphy.com/media/tXL4FHPSnVJ0A/giphy-downsized.gif" alt="" />
        </div>
        {% for x in sources| batch(2) %}<br><h2>{% for col in x %}{{col}} {% endfor %}</h2>{% endfor %}
        <br><br>
        {% for x in features| batch(2) %}<br><h2>{% for col in x %}{{col}} {% endfor %}</h2>{% endfor %}
        <br><br>
        <h2> Username: {{Username}}</h2>
        <br>

        <h2> Location: {{Weatherplace}}</h2>
        <br>

        <div class="row">
          <form action="/forward/">
            <button  name="forwardBtn" type="submit" onclick="$('#loading').show();" >Rerun file</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
