<!DOCTYPE html>
<html>
<head>
<link rel=stylesheet type=text/css href='/../static/playlists.css'>

<title>Playlist</title>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
    <script type=text/javascript> $(function() { $("#mybutton").click(function (event) { $.getJSON('/SomeFunction', { },
    function(data) { }); return false; }); }); </script>
</head>



  <body>
    <div class="row">
      <div class="left">
        <div class=page>
          <h1>Playlists</h1>
          {% for table in tables %}
            <h2>{{titles[loop.index]}}</h2>
            {{ table|safe }}
          {% endfor %}
        </div>
      </div>


      <h1>The current situation</h1>
      <h2>{{ forward_message }}</h2>
      <h2> {{Username}}</h2>
      <h2> {{Spotifylink}}</h2>


      <div class='container'>
        <form action="/forward/">
            <button name="forwardBtn" type="submit" onclick="$('#loading').show();" >Rerun file</button>
        </form>
      </div>
    <div id="loading" style="display:none;"><img src="https://media.giphy.com/media/tXL4FHPSnVJ0A/giphy-downsized.gif" alt="" />Loading!</div>
    </body>
    </div>
  </body>
</html>
